/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/

body {
    background-color:floralwhite;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: large;
    background-color: #324422;
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
}

/*sitebranding animation*/
#sitebranding{
    -webkit-animation-name: tinRightIn;
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes tinRightIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1, 1) translateX(900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: scale(1, 1) translateX(0);
    }
}

#tagline p {
    font-style: italic;
    font-family: Georgia, Times, serif;
    background-color: #6e2207;
    border-top: 3px solid #242826;
    border-bottom: 3px solid #242826;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
}

/* tagline animation*/

#tagline p{
  -webkit-animation-name: puffIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
 }
 @-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(2px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
    -webkit-filter: blur(0px);
  }
}


#header {
    position: absolute;
    border-top: 3px solid #242826;
    width: 100%;
}

#navigation {
    position: absolute;
    left: 250px;
    top: 110px;
    width: 130px;
    height: auto;
    overflow: auto;
    background-color: #ff2254;
    color:black;
    padding-left: .8em;
    margin: 5px;
    border-radius: 20px;
}


/*navigation animation*/
#navigation{
    background-color: #324422;
    -webkit-animation-name: vanishIn;
    -webkit-animation-duration: 1.1s;


}
@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        -webkit-filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}

#bodycontent {
    position: absolute;
    left: 530px;
    top: 120px;
    padding-top:.4em;
    padding-left:2em;
}
.bodycontent{
    background-image: url("../images/background.jpg");
    background-size: 1370px 630px;
    background-repeat: no-repeat;;
}

#postcontent {
    position: absolute;
    left: 900px;
    top: 110px;
    width: 130px;
    height: auto;
    overflow: auto;
    color:black;
    padding-left: .8em;
    margin: 5px;
    border-radius: 20px;

}
/*postcontent animation*/

#postcontent  {
    background-color: #324422;
    -webkit-animation-name: vanishIn;
    -webkit-animation-duration: 1.1s;


}
@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        -webkit-filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}



#changeThemeButton {
    position: absolute;
    left: 70px;
    padding-top: 10px;

}

#applyButton {
    position: absolute;
    left: 96px;
    padding-top: 10px;

}

#configuration {
    margin-top: 50px;
}

.button {
    background-color:  #646366;
}


#postcontent a, #navigation a {
    color: #838285;
}
#serverResponse {
    color: black;
    position: absolute;
    top: 250px;
    left: 555px;
    width: 200px;
    padding-left: .8em;
    background-color: #646366;
    text-align: center;
}

#configuration{
    position: absolute;
    left: 60px;
    top: 150px;
    text-align: center;
}

#applyButton{
    position: absolute;
    left: 50px;
    top: 100px;
}
/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}
